In [1]:
# Q1 String
a= "Hello"
print (a)

Hello

In [2]:
type(a)

str

In [6]:
#list
l= ["name", 5, True , 4+6j]
print(l)

['name', 5, True, (4+6j)]

In [7]:
type(l)

list

In [15]:
# float
f= 2.4
type(f)

float

In [18]:
#tuple
a= ("apple", "banana", "abc", 34, True, 40, "male", ["1", True, 5.6])
print (a)
type(a)

('apple', 'banana', 'abc', 34, True, 40, 'male', ['1', True, 5.6])

tuple

In [29]:
#Q2. Given are some following variables containing data:
#What will be the data type of the above given variable.
var1 =  ' '



type (var1)

str

In [30]:
var2 = '[ DS , ML , Python]'
type (var2)

str

In [32]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type (var3)

list

In [33]:
var4 = 1.
type(var4)

float

In [ ]:
#Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	*

In [34]:
#(i)	/ - division

print (10/2)

5.0

In [36]:
#(ii)	% - gives reminder

print(10%5)
print (3%2)

0
1

In [37]:
#(iii)	// -Floor division-rounds the result down to the nearest whole number
print (4//3)

1

In [38]:
#(iv)	* - MUltiplication
print( 10*12)

120

In [41]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
#element and its data type

l= ["apple", "banana", "abc", 34, True, 40+6j, 2.50, True , False, 100, range(10)]
for x in l:
    print(x, type(x))

apple <class 'str'>
banana <class 'str'>
abc <class 'str'>
34 <class 'int'>
True <class 'bool'>
(40+6j) <class 'complex'>
2.5 <class 'float'>
True <class 'bool'>
False <class 'bool'>
100 <class 'int'>
range(0, 10) <class 'range'>

In [49]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
#times it can be divisible.
A = int(input(" Enter the value of A"))
while A%8==0 :
    print( "A is purely divisible by 8"," it is divisible by", A/8, "times")
    break
else:
    print(" A is not purely divisible by 8")

KeyboardInterrupt: Interrupted by user

In [54]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
#divisible by 3 or not.

R= list(range (5,31))
for x in R:
    if x%3==0 :
        print(x ,"is divisible by 3")
    else :
        print (x ,"is not divisible by 3")

5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3
26 is not divisible by 3
27 is divisible by 3
28 is not divisible by 3
29 is not divisible by 3
30 is divisible by 3

In [58]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
#this property.

l= ["apple", "banana", "abc", 34, True, 40+6j, 2.50, True , False, 100, range(10)]
type(l)
# printing value in list l
print (l[2])
# replacing "abc" with "xyz"
l[2]= "xyz"
# list after replacing
print(l)
print(l[2])

abc
['apple', 'banana', 'xyz', 34, True, (40+6j), 2.5, True, False, 100, range(0, 10)]
xyz

In [59]:
s="Hello"
type(s)
# printing value in string s
print (s)
# replacing "abc" with "xyz"
s[2]= "e" # Error because string is immutable
# list after replacing
print(s)

Hello

TypeError: 'str' object does not support item assignment